.nav {
  .center {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
  }

  .link {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .link a {
    display: block;
  }

}
